
<header class="head">
        <div class="head-bar">
            <div class="logo">
                <img src="image.png" alt="Logo" class="the-logo">
                <!-- <h1>Hartford</h1> -->
            </div>

            <nav>
                <ul class="list">
                <li><a href="#Auto">Auto</a></li>
                <li><a href="#Home">Home</a></li>
                <li><a href="#Business">Business</a></li>
                <li><a href="#Employee Benefits">Employee Benefits</a></li>
                <li><a href="#About">About</a></li>
            </ul>
            </nav>
            <div class="searchbar">
      <input type="text" placeholder="Help me find..." />
      <button class="search-btn">🔍</button>
    </div>
        </div>
</header>