.C1
{
    background-color: #e48961;
    display:flex;
    flex-direction:row-reverse;

}
.C2
{
    background-color: #e48961;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;

}
.C3
{
    background-color: #e48961;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;

}
.C4
{
    background-color: #e48961;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}
.C5
{
    background-color: #e48961;
    display:flex;
    flex-direction:row;
    justify-content: space-around;

}
.C6
{
    background-color: #e48961;
    display:flex;
    flex-direction:row;
    height:250px;
    justify-content: center;
    align-items: flex-end;
}
.C7
{
    background-color: #e48961;
    display:flex;
    flex-direction:row;
    height:250px;
    justify-content: flex-end;
    align-items:center;
}
.C8
{
    background-color: #e48961;
    display:flex;
    flex-direction:row;
    height:200px;
    justify-content: center;
    align-items: center;
}
.small{
    width: 80px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    background-color: #e0e7ff;    
    display: flex;                 
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #3730a3;
    border: 2px solid #8295f4;
    border-width: 5px;
}
