header{
      background-color: #caf5ef;
}
.ContainerA{
    background-color: #caf5ef;
     display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.One{
    background-color: #caf5ef;
     display: grid;
    gap: 35px;
    grid-template-columns: repeat(3,1fr);
}
.Two{
    background-color: #caf5ef;
    border-radius:20px;
    padding:28px;
}
h2{
    background-color: #caf5ef;
    font-size:larger;
}
.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    display: block;
}
.p1,.p2,.p3,.p4,.p5,.p6{
    background:white;
    padding:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
     border-radius: 10px;
    box-shadow: 1px 1px 12px grey; 
    overflow: hidden;             
}
.btn {
    padding: 6px 18px;
    background-color: #f0af72;
    color: #333;
    border: none;
    font-size: 11px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #f0af72;
}
.checkout{
     background:white;
    padding:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
     border-radius: 10px;
     box-shadow: 1px 1px 20px grey; ;    
}
.img-box {
    width: 100%;
    height: 200px;      
    overflow: hidden;     
}

.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover,
.p6:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.18);
}
.product-name {
    font-size: 18px;
    font-style: oblique;
    font-weight: 600;
    color: #2f2f2f;
    margin-top: 12px;
    margin-bottom: 6px;
    text-align: center;
}
.product-price{
     font-size: 16px;
    font-weight: 600;
    color: #e76f51;   
    margin-bottom: 14px;
}
@media only screen and (max-width:834px) {
    .ContainerA{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }
    
}
@media only screen and (max-width:834px) {
    .One{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
}
