 <footer class="foot">
        <div class="foot-bar">
            <div class="logo1">
                <img src="image.png" alt="Logo1" style="height: auto;width: 150px">
            </div>

        </div>
        <div class="foot-bar2">
    <p class="copyright">
        © 2026 Hartford Insurance. All Rights Reserved.
    </p>
    <p class="disclaimer">
        Disclaimer: The information provided on this website is for general informational purposes only and does not constitute insurance advice. Coverage, terms, and conditions may vary. Please refer to policy documents or consult with our representatives for complete details.
    </p>
</div>
</footer>
